
.head {
    text-align: center;
    background-color: aqua;
    height: 10vh;
    width: 100vw;
    position: fixed;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: cadetblue;
    height: 10vh;
    width: 100vw;
}

.navbar {
    overflow: hidden;
    background-color: rgb(127, 120, 111);
    height: 10vh;
    width: 100vw;
    position: fixed;
}

.navbar a {
    text-decoration: none;
    float: left;
    padding: 25px 30px;
    color: black;

}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

.midcontent {
    margin-top: 10vh;
    height: 70vh;
    width: 100vw;
    background-color: rgb(218, 218, 235);
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

