
.box {
     display: flex;
     justify-content: center;
}

.container {
    margin-top: 15vh;
    display: flex;
    height: 65vh;
    width: 54vw;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.674);
}

.imgsec{
    width: 27vw;
    background-color: blueviolet;
}

.formsec {
    width: 27vw;
    background-color: antiquewhite;
}

.loginbox {
    margin-top: 5vh;
    height: 50vh;
    width: 25vw;
    background-color: chocolate;
    border-radius: 25px;
}

.formdiv {
    margin-top: 5px;    
}

.formdiv div {
    margin-left: 50px;
}

.formdiv div label {
    font-size: large;
    font-weight: bold;
}

.formdiv div input {
    height: 30px;
    width: 20vw;
    margin-top: 10px;
    border-radius: 15px;
    border-color: chocolate;

}

.formdiv div button {
    height: 30px;
    width: 100px;
    font-weight: 600;
    background-color: rgb(127, 127, 216);
    border-radius: 10px;
    border-color: chocolate;
}
